body {
  background-color: #111;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
}

span {
  text-align: center;
}

nav {
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

nav img {
  color: #fafafa;
  filter: drop-shadow(0 5px 5px #222);
  height: 10vh;
  margin: 0 15px 15px 15px;
  width: 100px;
  -webkit-filter: drop-shadow( 0 5px 5px #222);
}

.background-image {
  background: url('../img/bw_ski_lift_1920_1440.png') no-repeat center center fixed; 
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.name {
  color: #FAFAFA;
  font-family: helvetica;
  font-size: 14vw;
  font-weight: bolder;
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 5px 10px #222;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1000;
}

.modal-container {
  background-color: #222;
  color: #fafafa;
  font-size: 8vh;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: visibility 0s, opacity .25s linear;
  visibility: hidden;
  z-index: 2000;
}

.space {
  display: none;
}

.close {
  position: absolute;
  top: 10%;
  right: 10%;
}

.close:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .rwd-break { display: none; }
  .space { display: inline; }
}

span:hover {
  cursor: pointer;
}